{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Queen: The British Band that Rocked the World</h1>
  <p>Give description of the band right here</p>
  <h2>Band Members</h2>
  <p>Here are the most important band members of Queen!</p>
  <div class="row">
    {% for member in members.members %}
    <div class="col-md-8 offset-md-2">
      <div class="col-sm-8 col-md-9 col-lg-10">
        <div class="card mb-4 bg-light border-dark">
          <div class="card-body">
            <h5 class="card-title">{{ member.name }}
            <h6 class="card-date">{{ member.tenure }}
              <img src="../img/member.slug.jpg">
            <a href="members/{{ member.slug }}.html" class="link" target="_blank">Read 
            More</a>
          </div>
        </div>
      </div>
    </div>
      {% endfor %}
  </div>
  <h2>Bookstores loop</h2>
  <p>This loops through data that came from a Google Sheet example.</p>
  <hr>
  {% for store in bookstores.stores %}
    <h3><a href="{{ store.url }}" target="_blank">{{ store.name }}</a></h3>
    <p>{{ store.address}}, {{ store.city }}, {{ store.state }} {{ store.zip }}</p>
    <hr>
  {% endfor %}
</div>
{% endblock %}