{% extends '_templates/base.njk' %}

{% block page_title %}Queen | Home{% endblock %}

{% block page_description %}queen-rock-band{% endblock %}

{% block content %}
<div class="container">
  <h1>Queen: The British Band that Rocked the World</h1>
  <div class="intros">
    <p>Give description of the band right here</p>
  </div>
  <h2>Band Members</h2>
  <div class="intros">
    <p>Here are the most important band members of Queen!</p>
  </div>
  <div class="row">
    {% for member in members.members %}
    <div class="col-sm-4 offset-md-.5">
      <div class="card mb-4 bg-light border-dark">
        <div class="card-body">
          <h5 class="card-title">{{ member.name }}
          <h6 class="card-date">{{ member.tenure }}
            <img class="img-fluid" src="../img/{{ member.imagebw }}" alt="{{ member.name }}">
          <a href="members/{{ member.slug }}.html" class="link" target="_blank">Read More</a>
        </div>
      </div>
    </div>
      {% endfor %}
  </div>
  <h2>Albums</h2>
  <div class="intros">
    <p>Fact about their albums here</p>
  </div>
  <hr>
  <div class="row">
    {% for album in albums.discography %}
    <div class="col-sm-4 offset-md-.5">
      <div class="card mb-4 bg-light border-dark">
        <div class="card-body">
          <h5 class="card-title">{{ album.title }}
          <h6 class="card-date">{{ album.year }}
            <img class="img-fluid" src="../img/{{ album.image }}" alt="{{ album.title }}">
          <a href="discography/{{ album.title }}.html" class="link" target="_blank">Expand</a>
        </div>
      </div>
    </div>
      {% endfor %}
  </div>
</div>
{% endblock %}