{% extends '_templates/base.njk' %}

{% block page_title %}Queen | Upcoming Tour{% endblock %}

{% block page_description %}queen-rock-band{% endblock %}

{% block content %}
<h1>Tour Dates</h1>
  <div class="table-responsive">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">City</th>
      <th scope="col">Venue</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td> {{ </td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>



    </table>
  </div>
{% endblock %}