{% extends '_templates/base.njk' %}

{% block page_title %}Queen | Home{% endblock %}

{% block page_description %}queen-rock-band{% endblock %}

{% block content %}
<div class="container">
  <h1>Tour Dates</h1>

</div>
{% endblock %}