{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}Queen | {{ name }}{% endblock %}

{% block page_description %}{{ name }} {% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
       <img class="img-fluid" src="../img/{{ image }}" alt="{{ member.name }}"/>
        <p class="caption"> <i><b> {{ name }} in action</i></b> <br>
        <div class="member-info">
          <span><b>Tenure:</b> {{ tenure }}</span></p>
          <span><b>Instruments:</b> {{ instruments }}</span></p>
          <span><b>Birthplace:</b> {{ birthplace }}</span></p>
          <span><b>Birthdate:</b> {{ birthdate }}</span></p>
        </div>
        <hr class="d-sm-none">
      </div>
      <div class="col-md-7">
        <img src="../img/{{ member.imagebw }}" alt="" class="img-fluid mb-4">
        <h1 class="name">{{ name }}</h1>
        <div class="bios">
          <p>{{ description | safe }}</p>
        </div>
      </div>
    </div>
  </article>
{% endblock %}