{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}Queen | {{ name }}{% endblock %}

{% block page_description %}{{ name }} {% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="../img/{{ member.image }}" alt=" {{ name }} " class="img-fluid">
        <p class="byline"> {{ name }}<br>
        <span>Tenure: {{ tenure }}</span></p>
        <span>Instruments: {{ instruments }}</span></p>
        <span>Birthplace: {{ birthplace }}</span></p>
        <span>Birthdate: {{ birthdate }}</span></p>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <img src="../img/{{ member.imagebw }}" alt="" class="img-fluid mb-4">
        <h1>{{ name }}</h1>
        <p class="bio">{{ description | safe }}</p>
      </div>
    </div>
  </article>
{% endblock %}