{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}Queen | {{ title }}{% endblock %}

{% block page_description %}{{ title }} {% endblock %}

{% block content %}
  <article class="container">
    <div class="drow">
      <div class="col-md-8 offset-md-2">
        <h1 class="album">{{ title }}</h1>
        <img class="img-fluid" src="../img/{{ image }}" alt="{{ member.name }}">
        <p class="byline"><b> Album Title: </b><i> {{ title }} </i><br>
        <span><b>Release Year:</b><i> {{ year }} </i></span></p>
        <hr class="d-sm-none">
      </div>
    </div>
  </article>
{% endblock %}