/* jumbotron */

.jumbotron.banner {
  background: url(../img/queen-logo-black.png) no-repeat center;
  background-size: contain;
  color: white;
  padding-top: 10rem
}

.jumbotron {
  margin-bottom: 30px;
}
